/*

Template 2088 Big City

http://www.tooplate.com/view/2088-big-city

*/
html {	
	background: url(img/islamic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
